.skill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-skills {
    margin-top: 8%;
    background-color: rgba(247, 167, 180, 0.989);
    width: 350px;
    padding: 5%;
}

.cont-skills h2 {
    text-align: center;
    color: rgb(64, 7, 49);
}


.imgDigitar {
    width: 380px;
    border: 2px solid pink;
}

.imgProgramar {
    width: 250px;
}

.imgDibujar {
    width: 380px;
    border: 2px solid pink;
}

.imgHornear {
    width: 280px;
    border: 2px solid pink;
}