@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

nav{
    background-image: url(./../../img/f-madera.jpg);
    background-size: cover;
    padding: 1rem;
    transform: rotate(-21.5deg);
    width: 67.5rem;
    margin-top:-16.5%;
    margin-left: -3%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item{
    color: rgb(109, 156, 21);
    text-decoration-line: none;
    padding: 1rem;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
}

.item:hover{
    background-color: rgba(255, 222, 77, 0.822);
    border-radius: 50%;
}

