.h1-aboutme{
    color: crimson;
    font-size: 36px;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 15%;
}

.cont-aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-aboutme p{
    padding: 2% 18% 0 18%;
    font-size: 20px;
}

.cont-aboutme img{
    padding-top: 6%;
    width: 430px;
}